body {
    width: 90%;
    margin: 0px auto 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

#pic {
    width: 100%;
    max-width: 100%;
}

/* Large screen */
@media (min-width: 780px) {
    body {
        width: 770px;
        margin-top: 50px;
    }
    #pic {
        width: 300px;
    }
}

a {
    color: steelblue;
    text-decoration: none;
}

li {
    margin-bottom: 10px;
}