body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13pt;
}

a {
    color: steelblue;
    text-decoration: none;
}

li {
    margin-bottom: 10px;
}

/* Small screen */
body {
    width: 90%;
    margin: 0px auto 50px;
}

#pic {
    width: 100%;
    max-width: 100%;
}


/* Large screen */
@media (min-width: 780px) {
    body {
        width: 770px;
        margin-top: 50px;
    }
    
    #pic {
        width: 300px;
    }
}